DEBUG=True
SECRET_KEY='django-insecure-03(6v-8hv^3mp*2q-bfgf5egh@7n%8w65ls3pejqb$ph^$d1b2'
ALLOWED_HOSTS=localhost,127.0.0.1
TIME_ZONE=Europe/Moscow
DJANGO_SETTINGS_MODULE=cafe_order_system.settings
EMAIL_HOST_USER='' # Сюда пишем почту откуда будут приходить оповещения
EMAIL_HOST_PASSWORD='' # Сюда пишем пароль для доступа mtp агента к почте
ADMIN_EMAIL = '' # Сюда пишем почту куда будут приходить оповещения
